export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_NAME=gameplatform_dev
export DB_PORT=5432
export DB_HOST=192.168.1.26

export REDIS_POOL_SIZE=

export GRAFANA_DOCKER_COMPOSE_PORT=3000
export GRAFANA_AUTH_TOKEN=eyJrIjoiRzBWbDJSR0JhNzFzYk15T1g3TVEzUXl6VTVrV1FRYTciLCJuIjoicHJvbWV0aGV1cyIsImlkIjoxfQ==

export TEMPO_DOCKER_COMPOSE_PORT=8000

export docker_build_base_image=gameplatform

[ -f .envrc.custom ] && source .envrc.custom